@media only screen and (max-width: 600px){
.Home{
    display: flex;
    flex-direction: column;
    
}
.righthome{
    display: flex;
    flex-direction: column;
    width: 96vw;
    height: cover;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0vh;
   
}
.headbody{
    padding-top: 5vh;
}
.lefthome{
    width: 100vw;
    height: 50vh;
    margin-top: 1.5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    
}
.lefthome video{
    width: 96vw;
    
}
.MidPage{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: cover;
}
.MidPageCont{
    margin-top: 2vh;
}
.box{
    
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 96vw;
    
}
.box div{
    margin-left: 3vw;
    margin-right: 3vw;
    width: 90vw;
    margin-top: 3vh;
}
.box div:hover{
    width: 90vw;
    transform: scale(1.07);
    transition: transform 1s;
}
.trackpage{
    margin-top: 38vh;
    height: cover;
}
.trackpagecont{
    display: flex;
    flex-direction: column;
}
#graph1{
    display: flex;
    flex-direction: column;
    width: 86vw;
    margin-left: -4vw;
    margin-right: 2vw;
}
#graph1 div{
    width: 84vw;
    height: 40vh;
    margin-left: 0vw;
    padding-top: 0vh;
    padding-left: 0vw;
    
}
#pichart{
    /* margin-top: 3vh; */
    /* z-index: 0; */
}
.SubscPage{
    margin-top: 20vh;
}
#pichart{
    background-color: hsla(0, 0%, 53.7%, 0.13);;
    display: flex;
    flex-direction: column;
    margin-top: -2vh;
    margin-left: 0vw;
    margin-right: 9vw;
    width: 100vw;
    
}
#report{
    padding-left: 20vw;
}
.subscript{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 0vw;
    margin-right: 0vw;
}
.box3{
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
    margin-right: 0vw;
}
#firstdiv{
    width: 96vw;
    margin-left: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
#seconddiv,#thirddiv{
    margin-top: 0vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
}
#seconddiv div,#thirddiv div{
    width: 55vw;
    margin-bottom: 1vh;
}
#seconddiv:hover,#thirddiv:hover{
    
    transform: scale(1.08);
    transition: transform 1s;
}
.iconimg{
    display: none;
}
.page4{
    margin-bottom: 30vh;
}
.page41{
    width: 100vw;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 25vh;
    height: 60vh;
    /* margin-bottom: 80vh; */
}
.page41up div{
    width: 30vw;
    height: 20vh;
    overflow: scroll;
    scrollbar-width: none;
}
.page41dow{
    margin-top: 6vh;
}
.page41dow div{
    width: 30vw;
    height: 20vh;
    overflow: scroll;
    scrollbar-width: none;
    
}
footer{
    margin-top: -30vh;
}
#foot2{
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
}
#line1{
    display: none;
}
#line2{
    
    display: none;
}
#resline{
    display: block;
    width: 96vw;
}

}