.nav{
    width: 100vw;
    height: 12vh;
    background-color: white;
    position: fixed;
    z-index: 2;
}
#logoimg{
    width: 8vw;
    height: 20vh;
    margin-top: -4vh;
}
.navdiv{
    width: 80vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    padding-left: 11vw;
    padding-right: 11vw;
}
.list{
    padding-left: 23vw;
    width: 45vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    
    justify-content: end;
    justify-content: space-between;
    padding-top: 1vh;

}
.list p{
    /* text-decoration: none; */
    margin-top: 3vh;
    font-weight: 500;
    font-size: large;
    font-family: poppins-regular !important;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #242424;
    
}
#link1{
    color: #242424;
}
#link1:hover{
    color: #35369B;
}
.list button{
    height: 6vh;
    background: transparent linear-gradient(90deg,#6597CB 0%,#35369B 100%) 0% 0% no-repeat;
    padding-top: 0vh;
    margin-top: 1.5vh;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    font-size: large;
    padding-top: 1vh;
    border-top: 1px solid rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.05) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.05) inset;
    font-family: poppins-regular !important;

}
.list p:hover{
    color: hwb(212 20% 36%);
    cursor: pointer;
}
.sidepanel{
    display: none;
}

#menu{
    display: none;
}

@media only screen and (max-width: 600px) {
 .list p{
    display: none;
 }
 .sidepanel{
    height: 0px;
    width:100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background: transparent linear-gradient(90deg,#6597CB 0%,#35369B 100%) 0% 0% no-repeat; */
    overflow-x: hidden;
    padding-top: 0px;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    z-index: 2;
    opacity: 90%;
    background-color: hsl(0, 0%, 5.5%);
    
    
 }
 .sidepanel p{
    font-weight: 500;
    font-size: large;
    font-family: poppins-regular !important;
    display: block;
    transition: 0.3s;
    
 }
 .sidepanel a{
    color: whitesmoke;
    
 }
 #elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
 }
 .sidepanel a:hover{
    color: #35369B;
 }
 .sidepanel .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }
 .openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
 }
 .openbtn:hover{
    background-color: #444;
 }
 #logoimg{
    width: 20vw;
    
 }
 .navdiv{
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;

}
.list button{
    width: 17vw;
    margin-top: 2.5vh;
    margin-left: 20vw;
    padding: 0%;
    height: 5vh;
    border-radius: 10px;
}


#menu{
    display: block;
    /* margin-top: 1vh; */
    /* background: transparent linear-gradient(90deg,#6597CB 0%,#35369B 100%) 0% 0% no-repeat; */
    height: 5vh;
    border-radius: 10px;
    margin-top: 3vh;
    color: #35369B;
   
}
#menu:hover{
    /* border: solid thin #1357be; */
    height: 5vh;
    border-radius: 5px;
    
}

}
